*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-weight: 400;
}
body{
    height: 100vh;
    background: hsl(204, 43%, 93%);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    width: 90%;
    
}

h1{
    margin-bottom: 20px;
    color:hsl(179, 62%, 43%);
    font-weight: 700;
}

h2{
    margin-bottom: 20px;
    color: white;
    font-size: 1.2rem;
}

/* Info section */
.Info{
    background: white;
}

.Yellow{
    color:hsl(71, 73%, 54%);
    font-weight: 700;
}

.Info p{
    color: hsl(218, 22%, 67%);
    line-height: 2;
}

/* Sign Up section */
.Sign_up{
    background: hsl(179, 62%, 43%);
}

.Sign_up p{
    margin-top: 7px;
    font-size: 1.1rem;
    color: hsl(204, 43%, 93%);
}

.price{
    color: hsl(204, 43%, 93%);
}

.dollar{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 15px;
}

.Sign_up button{
    margin-top: 20px;
    background: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px 0;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

/* About Us section */
.About_Us{
    background: hsl(179, 51%, 46%, 0.8);
}

/* all section */
.Border div{
    padding: 20px;
}